server:
  port: 8084

spring:
  application:
    name: approval-service
  datasource:
    url: jdbc:postgresql://localhost:5432/dwp_approval
    driver-class-name: org.postgresql.Driver
    username: dwp_user
    password: dwp_password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    com.dwp.services.approval: DEBUG

