server:
  port: 8082

spring:
  application:
    name: mail-service
  datasource:
    url: jdbc:postgresql://localhost:5432/dwp_mail
    driver-class-name: org.postgresql.Driver
    username: dwp_user
    password: dwp_password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    com.dwp.services.mail: DEBUG

