server:
  port: 8083

spring:
  application:
    name: chat-service
  datasource:
    url: jdbc:postgresql://localhost:5432/dwp_chat
    driver-class-name: org.postgresql.Driver
    username: dwp_user
    password: dwp_password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    com.dwp.services.chat: DEBUG

